#about {
    background-color: $dark-half;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .skillcontainer {
            margin: 30px 0;

            &:last-of-type {
                margin-bottom: 0;
            }

            h3 {
                text-align: center;
                margin: 0 0 10px 0;
            }

            .skillItem {
                width: 100px;
                height: 100px;
                border: 1px solid $light;
                border-radius: 50%;
                margin: auto;
                display: flex;
                justify-content: center;
                transition: $transitionFast;

                i {
                    margin: auto;
                    color: $light;
                    font-size: 25px;
                }
            }

            &:hover {
                .skillItem {
                    background-color: $primary;
                }
            }
        }

    }
}